/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  overflow: scroll;
}

.navbarConent{
  margin-left: 10%;
  max-width: 80%;
}

.yellow {
    color: yellow;
}

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

div.scrollingDiv{
   overflow-y:scroll;
}

.form-control{
	min-width: 500px;
}

.homeContent{
  max-width: 80%;
  margin-left: 10%;
  min-height: 100vh;
  overflow: hidden;
}

.editProfile{
  vertical-align: middle;
  width: auto;
  max-width: 450px;
  padding: 25px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.85);
  border-radius: 25px;
  text-align: center;
  box-shadow: 10px 10px 30px #000;
}


.regForm{
  text-align:center; width:90%;
}

.container {
  width: auto;
  max-width: 95%;
  padding: 0 15px;
}

.leftAlign {
  float:left;
}
.rightAlign {
  float:right;
}

.form-signin {
  max-width: 450px;
  padding: 25px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.85);
  border-radius: 25px;
  text-align: center;
  box-shadow: 10px 10px 30px #000;
}

.form-signin-heading{
  font-family: Impact, Charcoal, sans-serif;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.collapsible {
    background: #EBEBEB;
    border: 1px solid #CCCCCC;
    padding: 2px;
    width: 200px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #333333;
    z-index: 2;
    overflow: scroll;
}
.collapsible button {
    float: left;
    border: 1px solid #999999;
    background: #999999;
    color: #CECECE;
    margin-left: 2px;
    z-index: 3;
}
.collapsible button:hover {
    background: #EEBB00;
}

.collapsible ul {
    position:relative;
    right: 10px;
    list-style: none;
}

.collapsible ul li {
  word-wrap: break-word;
  padding: 10px;
  padding-bottom: 80px;
/*  background : #71BC78;*/
  border : 1px solid black;
  font: 14px Arial, Helvetica, sans-serif;
/*  color: #000000;
*/
}

.priceSubmit {
    display:none;
    text-align:center;
}
