html {
  position: relative;
  min-height: 100%;
}

body {
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 40px;
  background-image:url("/static/img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
}

.formBox {
  vertical-align: middle;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  height: 500px;
  width: 500px;
  border-radius: 50px;
  padding: 25px;
  box-shadow: 2px 2px 50px #000;
  margin: 0 auto;
}

.ribbon {
  height: 500px;
  vertical-align: middle;
  text-align: center;
}

.spongoButton{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 2px 2px 20px #000;
}

#spongoButton{
    -moz-border-radius: 70%;
    -webkit-border-radius: 70%;
    border-radius: 500px;
    width: 70%;
    border-style: hidden;
    background-color: rgba(255,255,255,0);
}