{% extends "baseTemplate.html" %}
    {% block customCSSFiles %}
	<link href="/static/css/homepageTemplate.css" rel="stylesheet">
    {% endblock %}

	{% block pageBody %}
    <div class="ribbon">
		<div class="formBox" id="formBox">
		<b> It's time to Spongo!</b>
		<form method="post" action="{% url 'results' %}">
			<div>
				<table>
					<tr>
						<td>Budget: $</td>
						<td>{{QueryForm.minimumBudget}} - {{QueryForm.maximumBudget}}</td>
					</tr>
					<tr>
						<td>Trip Duration</td>
						<td>{{QueryForm.duration}} {{QueryForm.durationUnit}}</td>
					</tr>
					<tr>
						<td>Starting location:</td>
						<td>{{QueryForm.startingPoint}}</td>
					</tr>					
					<tr>
						<td>Landing location:</td>
						<td>{{QueryForm.landingPoint}}</td>
					</tr>										
				</table>

				<div >
					<button id="spongoButton" class="btn btn-lg btn-primary" type="submit" value="Submit">
						<img class="spongoButton" src="/static/img/spongoButton.png" name="image" width="70%">
					</button>
				</div>
				{% csrf_token %}
			</div>
		</form>
		
		</div>
	</div>

	{% endblock %}