<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta name="description" content="">
    	<meta name="author" content="Sourabh Lal, Nick Lee, Bidesh Thapaliya, JP Breuer">
    	<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    	<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<form method="post" action="{% url 'test' %}">
				<div>
					<table>
						{{QueryForm}}
					</table>
					<div >
						<input id="submitButton" class="btn btn-lg btn-primary" type="submit" value="Submit">
					</div>
					{% csrf_token %}
				</div>
			</form>

			{% if flightDetails %}
			<div id="tableHeader">
				<div class="col-md-2">
					Price+Pie
				</div>
				<div class="col-md-3">
					Flight
				</div>
				<div class="col-md-3">
					Accomodation
				</div>
				<div class="col-md-3">
					Living Expense
				</div>
				<div class="col-md-1">
					Book now!
				</div>
			</div>
			
			{% for s, p in flightDetails %}
			<div id="tableRow">
				<div class="col-md-2">
					{{p.Price}}
				</div>
				<div class="col-md-3">
					<p> {{s.Carrier}} </p>
					<p> {{s.FlightNumber}} </p>
					<p> {{s.Duration}} </p>
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-1">
				</div>
			</div>
			{% endfor %}
			{% endif %}
	</body>
</html>